<!-- Imports begin -->
{% extends 'base.html'%} {% import 'movies.html' as macro%}

<!-- index content begin -->
{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="row">
      <h3 class="font-weight-bolder h2">Popular Movies</h3>
    </div>
    <div class="row mx-auto justify-content-center">
      {{ macro.displayMovieList(popular)}}
    </div>
  </div>
  <!-- Upcoming movie  -->
  <div class="row my-3">
    <div class="row">
      <h3 class="font-weight-bolder h2">Upcoming Movies</h3>
    </div>
    <div class="row mx-auto justify-content-center">
      {{ macro.displayMovieList(upcoming)}}
    </div>
  </div>
  <!-- Now showing movie -->
  <div class="row my-3">
    <div class="row">
      <h3 class="font-weight-bolder h2">Now Showing</h3>
    </div>
    <div class="row mx-auto justify-content-center">
      {{ macro.displayMovieList(nowShowing)}}
    </div>
  </div>
</div>
{% endblock %}
<!-- index content end -->
